{% block devture_email_template_tab_javascript %}
	{% if isAdded %}
		$('#js-btn-email-template-delete').on('click', function () {
			if (confirm({{ ("devture_email_template.confirm_delete")|trans|json_encode|raw }})) {
				$.ajax({
					"url": {{ path('devture_email_template.delete', {'id': entity.id, 'token': devture_csrf_token('delete-article-' ~ entity.id)})|json_encode|raw }},
					"type": "POST",
					"dataType": "json",
					"success": function (response) {
						if (response.ok) {
							window.location = {{ path('devture_email_template.manage')|json_encode|raw }};
						} else {
							alert("There was a problem. Refresh and retry.");
						}
					}
				});
			}
			return false;
		});
	{% endif %}

	{% block devture_email_template_js_editor_init %}
		(function () {
			var initializeCkEditor = function () {
				$('.js-devture-email-textarea-ckeditor').each(function (idx) {
					if (!$(this).attr('id')) {
						$(this).attr('id', 'textarea_' + idx);
					}

					let $textarea = $(this);

					$textarea.addClass('d-none');

					let ckEditorElementId = 'ckeditor-' + $textarea.attr('id');

					$('<div id="' + ckEditorElementId + '"></div>').html($(this).val()).insertAfter($(this));

					let $ckEditorElement = $('#' + ckEditorElementId);

					ClassicEditor
						.create($ckEditorElement[0])
						.then(editorInstance => {
							var syncToFormField = function () {
								$textarea.val(editorInstance.getData());
							};

							editorInstance.model.document.on('change:data', function () {
								syncToFormField();
							});
						})
						.catch(error => {
							console.error( error );
						});
				});
			};

			if (typeof(ClassicEditor) !== 'undefined') {
				initializeCkEditor();
				return;
			}

			if (typeof(comploader) !== 'undefined') {
				comploader.load('ckeditor5', initializeCkEditor);
				return;
			}

			throw new Error('Neither ClassicEditor (CKEditor), nor comploader were found on the page');
		})();
	{% endblock devture_email_template_js_editor_init %}
{% endblock devture_email_template_tab_javascript %}
